/*Normalización*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-image: url('imgs/BRC-01-011bis.jpg');
    background-size: cover;
    background-size: 2000px;
    width: 100vh;
}

html { 
    width: 62.5%;
}

ul, ol {
	list-style-type: none;
}

a {
    text-decoration: none;
    color: white;
}

/*Página principal*/

.contenedorPrincipal { 
    position: relative;
}

.grillaImagenes {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 50px;
    margin-top: 25%;
    width: 80%;
    left: 20%;
    position: absolute;
    background-clip: text;
    width: 100%;
    z-index: 2;
}

.imagenGrilla {
    position: relative;
    width: 500px;
    object-fit: cover;
    opacity: 0;
    border-radius: 10px;
    transition: opacity 15s ease-in-out, transform 15s ease-in-out;  
}

.imagenGrilla:hover {
    /*animation: scaleUp 15s ease-in-out forwards;*/
    transform: scale(5);
    opacity: 0.8;
    cursor: grab;
}

/*@keyframes scaleUp {
    0% {
        transform: scale(1); 
    }
    50% {
        transform: scale(5);
    }
    100% {
        transform: scale(10);
    }
}*/

@keyframes opacity {
    0% {
        transform: scale(1); /* Tamaño inicial */
    }
    50% {
        transform: scale(5); /* Tamaño medio */
    }
    100% {
        transform: scale(10); /* Tamaño máximo */
    }
}

.imagenPrincipal {
    position: absolute; 
    top: 0; 
    left: 0;
    width: 2000px;
    height: auto;
    z-index: 0;
}

.textoCritico {
    position: absolute;
    background-clip: text;
    width:400px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    color: whitesmoke;
    z-index: 2;
    margin-top: 50px;
    margin-left: 50px;
    padding-bottom: 50px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}