/*Normalización*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html { 
    width: 62.5%;
}

body {
    background-image: url('imgs/IMG_003.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-size: 1500px;
    width: 100vw;
}

ul, ol {
	list-style-type: none;
}

a {
    text-decoration: none;
    color: white;
}

/*Página principal*/

.contenedorPrincipal { 
    position: relative;
    margin: 20px;
}

.grillaImagenes {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 50px;
    margin-top: 25%;
    width: 80%;
    left: 20%;
    position: absolute;
    background-clip: text;
    z-index: 1;
}

.imagenGrilla {
    position: relative;
    width: 500px;
    object-fit: cover;
    opacity: 0;
    /*border-radius: 10px;*/
    transition: opacity 8s ease-in-out, transform 15s ease-in-out;  
}

.imagenGrilla:hover {
    /*animation: scaleUp 15s ease-in-out forwards;*/
    transform: scale(5);
    opacity: 0.8;
    cursor: grab;
}

/*@keyframes scaleUp {
    0% {
        transform: scale(1); 
    }
    50% {
        transform: scale(5);
    }
    100% {
        transform: scale(10);
    }
}*/

@keyframes opacity {
    0% {
        transform: scale(1); /* Tamaño inicial */
    }
    50% {
        transform: scale(5); /* Tamaño medio */
    }
    100% {
        transform: scale(10); /* Tamaño máximo */
    }
}

/*.imagenPrincipal {
    position: absolute; 
    top: 0; 
    left: 0;
    width: 2000px;
    height: auto;
    z-index: 0;
}*/

.textoCritico {
    /*General*/
    position: relative;
    max-width:400px;
    z-index: 0;
    margin: 50px auto 50px 50px; /* Espaciado uniforme arriba y a los lados */
    padding: 5px;
    /*Tipografía*/
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    color: black;
    line-height: 1.5;
    /*Fondo del texto*/
    background: rgba(255, 255, 255, 0.8);
    /*Efectos texto*/
    text-shadow: 2px 2px 5px rgba(116, 112, 112, 0.5);
   }